<!DOCTYPE html>
<html lang="en-US">
<head>
<title>pullingshots</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="http://pullingshots.ca/atom" />
<meta charset=UTF-8" />
</head>
<body>
<h1><a style="text-decoration: none;" href="/">pullingshots</a></h1>
<div id="content">
[% content %]
</div>
<footer>
Powered by <a href="http://perldancer.org/">Dancer</a> 1.1811
</footer>
</body>
</html>
