<div id='audio'>
[% FOREACH file IN files %]
	<div class='file'>
		<h4>[% file.title %]</h4>
		[% file.html %]
		<p class='audio-sig'><i>posted at [% file.updated %] by [% file.who %]</i></p>
	</div>
[% END %]
</div>
<div style="clear:both"></div>
