<div id='audio'>
[% FOREACH file IN files %]
	<div class='audio'>
		<h4><a style="text-decoration: none;" href="/audio/[% file.slug %]">[% file.title %]</a></h4>
		[% file.html %]
	</div>
[% END %]
</div>
<div style="clear:both"></div>
