<div class='post'>
[% settings.tagline %]
</div>
[% FOREACH post IN posts %]
<div class='post'>
<h2><a style="text-decoration: none;" href="/[% post.slug %]">[% post.title %]</a></h2>
[% post.html %]
</div>
[% END %]

