body {
    font-family: Lucida,sans-serif;
    color: #fff;
    background-color: #335566;
}

.post {
    color: #000;
    background-color: #99ccdd;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

.audio {
    color: #000;
    background-color: #99ccdd;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

#images-200 div.image {
  float:left;
  text-align: center;
  width: 275px;
  height: 275px;
  padding: 0.2em;
  margin: 1em;
  padding-top: 0.2em;
}

#images-200 p.image-sig {
  display: none;
}

.image {
    float: left;
    color: #000;
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

a {
    color: #002233;
}

h1 {
    color: #ee4422;
}

h1 a {
    color: #ee4422;
}

h2 {
    color: #ee4422;
}

h2 a {
    color: #ee4422;
}

h3 {
    color: #ee4422;
}

h3 a {
    color: #ee4422;
}

h4 {
    color: #ee4422;
}

h4 a {
    color: #ee4422;
}

footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #ddd;
}

footer a {
    color: #ee4422;
}

img {
    border-style: none;
}

#nav {
    float: right;
}

#nav a {
    text-decoration: none;
    color: #ee4422;
}

pre {
    font-family: \"lucida console\",\"monaco\",\"andale mono\",\"bitstream vera sans mono\",\"consolas\",monospace;
}


