body {
    font-family: Lucida,sans-serif;
    color: #fff;
    background-color: #AEAEAE;
}

#header #logo {
  height: 25px;
  border: none;
  margin-right: 10px;
}

#audio-download {
  border: none;
}

#header {
  background-color: #939393;
  width: 98%;
  margin: auto;
  padding: 10px;
  height: 60px;
}

#header h1 {
  margin-bottom: 10px;
}

#nav {
    float: right;
}

#nav a {
    text-decoration: none;
}

#top-menu {
  background-color: #13959B;
  width: 98%;
  margin: auto;
  padding: 10px;
  height: 20px;
  border-top: 2px solid #FFFFFF
}

#bottom-menu {
  background-color: #13959B;
  width: 98%;
  margin: auto;
  padding: 10px;
  height: 20px;
  border-top: 2px solid #FFFFFF
}

#container {
  background-color: #BEBEBE;
  width: 98%;
  padding: 10px;
  margin: auto;
}

#content {
    margin: auto;
    width: 1200px;
  color: #FFFFFF;
}

.post {
    color: #000;
    background-color: #FFFFFF;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

.audio {
    color: #000;
    background-color: #FFFFFF;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

#images-200 div.image {
  float:left;
  text-align: center;
  width: 275px;
  height: 275px;
  padding: 0.2em;
  margin: 1em;
  padding-top: 0.2em;
}

#images-200 p.image-sig {
  display: none;
}

.image {
    float: left;
    color: #000;
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

img {
   padding: 3px;
   border: 2px solid #000;
   background-color:#fff;
}

a {
    color: #2A535B;
}

h1 {
    color: #4B4B4B;
}

h1 a {
    color: #4B4B4B;
}

h2 {
    color: #2A535B;
}

h2 a {
    color: #2A535B;
}

h3 {
    color: #2A535B;
}

h3 a {
    color: #2A535B;
}

h4 {
    color: #2A535B;
}

h4 a {
    color: #2A535B;
}

footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #ddd;
}

footer a {
    color: #2A535B;
}


pre {
    font-family: \"lucida console\",\"monaco\",\"andale mono\",\"bitstream vera sans mono\",\"consolas\",monospace;
}


